<div class="about max-w-4xl flex items-center h-full flex-wrap mx-auto my-20 lg:my-0">
  <div
    class="w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none lg:mx-0 bg-white dark:bg-gray-900"
  >
    <div
      class="px-4 md:px-8 pt-4 pb-2 flex flex-col justify-end items-end lg:items-center lg:flex-row"
    >
      <ngx-change-language class="mr-0.5 lg:mr-3 lg:-mt-0.5"></ngx-change-language>
      <ngx-change-theme></ngx-change-theme>
    </div>

    <div class="p-4 pt-0 md:p-10 md:pt-0 text-center lg:text-left">
      <!-- Image for mobile view-->
      <div
        class="image-profile block lg:hidden rounded-full shadow-xl mx-auto -mt-32 h-48 w-48 bg-cover bg-center"
      ></div>

      <h1 class="text-3xl font-bold pt-4 lg:pt-0">Leandro Carlos Pereira</h1>
      <div class="mx-auto lg:mx-0 w-4/5 pt-3 border-b-2 border-purple-500 opacity-25"></div>
      <p class="pt-4 text-base font-bold flex items-center justify-center lg:justify-start">
        <span class="mdi mdi-briefcase text-xl text-purple-500 pr-2"></span>
        <a class="link" href="https://www.dextra.com.br/" target="_blank">
          <span>Dextra</span>
        </a>
      </p>
      <p class="pt-2 text-base lg:text-sm flex items-center justify-center lg:justify-start">
        <span class="mdi mdi-map-marker-radius text-xl text-purple-500 pr-2"></span>
        <span>{{ 'location' | transloco }}</span>
      </p>
      <p class="pt-6 text-sm">{{ 'description' | transloco }}</p>

      <div
        class="mt-6 pb-16 lg:pb-0 w-4/5 lg:w-full mx-auto flex flex-wrap items-center justify-between"
      >
        <a class="link" href="https://github.com/lcpereira" target="_blank">
          <span class="mdi mdi-github text-3xl text-gray-600 hover:text-purple-500"></span>
        </a>
        <a class="link" href="https://linkedin.com/in/leandro9893" target="_blank">
          <span class="mdi mdi-linkedin text-3xl text-gray-600 hover:text-purple-500"></span>
        </a>
        <a class="link" href="mailto:lcpereira.dev@gmail.com">
          <span class="mdi mdi-email text-3xl text-gray-600 hover:text-purple-500"></span>
        </a>
        <a class="link" href="https://instagram.com/lcpereira.dev/" target="_blank">
          <span class="mdi mdi-instagram text-3xl text-gray-600 hover:text-purple-500"></span>
        </a>
        <a class="link" href="/assets/cv/{{ language }}/Leandro_Carlos_Pereira.pdf" target="_blank">
          <span class="mdi mdi-download text-3xl text-gray-600 hover:text-purple-500"></span>
        </a>
      </div>
    </div>
  </div>

  <div class="w-full lg:w-2/5">
    <!-- Big profile image for side bar (desktop) -->
    <img
      src="assets/profile_big.jpg"
      class="rounded-none lg:rounded-lg shadow-2xl hidden lg:block"
    />
  </div>
</div>
